@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #1d1d1d;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-left: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  /* margin-right: 100px; */
}

.nav-links li {
  list-style: none;
}

/* Underline animation  */
nav li:after {
  display: block;
  content: "";
  border-bottom: solid 3px rgb(226, 226, 226);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

nav li:hover:after {
  transform: scaleX(1);
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.5s ease;
}

/* Slider */
.slider {
  position: relative;
  overflow: hidden;
  height: 92vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

/* Background Images */
.slide:first-child {
  background: url("/img/alcohol-architecture-bar-beer-260922.jpg") no-repeat
    center center/cover;
  filter: brightness(50%) saturate(140%);
}

.slide:nth-child(2) {
  background: url("/img/chef-preparing-vegetable-dish-on-tree-slab-1267320.jpg")
    no-repeat center center/cover;
  filter: brightness(50%) saturate(140%);
}

.slide:nth-child(3) {
  background: url("/img/selective-focus-photography-of-beef-steak-with-sauce-675951.jpg")
    no-repeat center center/cover;
  filter: brightness(50%) saturate(140%);
}

.slide:nth-child(4) {
  background: url("/img/woman-in-white-apron-holding-white-ceramic-plate-4252146.jpg")
    no-repeat center center/cover;
  filter: brightness(50%) saturate(140%);
}

.slide:nth-child(5) {
  background: url("/img/steak-with-french-fries-and-red-fruits-1352262.jpg")
    no-repeat center center/cover;
  filter: brightness(60%) saturate(140%);
}

.slide:nth-child(6) {
  background: url("/img/grilled-salmon-fish-on-rectangular-black-ceramic-plate-842142.jpg")
    no-repeat center center/cover;
  filter: brightness(60%) saturate(140%);
}

.background-wood-img {
  background: url("/img/background-wood.jpg") no-repeat center center/cover;
  width: 50%;
  height: 100%;
  z-index: -2;
  background-attachment: fixed;
  position: relative;
}
.background-wood-img:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
.background-wood-img h1,
.background-wood-img p {
  position: relative;
}

.organic-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  color: rgb(226, 226, 226);
}

.organic-img {
  width: 50%;
  height: 100%;
  background: url("/img/food-presentation-in-a-plate-2878738.jpg") no-repeat
    center center/cover;
  filter: brightness(80%) saturate(140%);
}

.organic-text-wrapper {
  padding: 15px 100px;
}
.organic-text h1 {
  margin-top: 5px;
  font-size: 52px;
  text-align: left;
  letter-spacing: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 3px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}

.organic-text p {
  line-height: 35px;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 200;
}
.middle-img {
  width: 100%;
  height: 125vh;
  background: url("/img/barbecue-bbq-beef-brown-236887.jpg") no-repeat center
    center/cover;
  filter: brightness(70%) saturate(140%);
}
.about-wrapper {
  display: flex;
  height: 90vh;
}

.background-wood-img-about {
  background: url("/img/background-wood.jpg") no-repeat center center/cover;
  width: 50%;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}

.background-wood-img-about:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* About page */

.about-img {
  width: 50%;
  height: 100%;
  background: url("/img/shallow-focus-photo-of-woman-smiling-while-holding-pen-and-3801649.jpg");
  background-position: center;
  background-size: cover;
}

.about-text {
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-text-wrapper {
  position: absolute;
  height: 50%;
  width: 65%;
  color: rgb(226, 226, 226);
  top: 30%;
  left: 20%;
}
.about-text h1 {
  font-size: 52px;
  text-align: left;
  letter-spacing: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 3px;
  font-weight: 400;
  width: 100%;
  font-family: "Libre Baskerville", serif;
}
.about-text p {
  text-align: left;
  margin-top: 40px;
  line-height: 9px;
}
.about-text button {
  margin-top: 30px;
  padding: 0.5rem 1rem;
  background: rgb(226, 226, 226);
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400px;
  text-align: center;
}

.about-text button:hover {
  transform: scale(0.9);
  filter: brightness(70%);
}

/* Slider for about page */

.about-slider {
  position: relative;
  overflow: hidden;
  height: 60vh;
  width: 100vw;
}

.about-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.about-slide.about-current {
  opacity: 1;
}

.buttons button#about-next {
  position: absolute;
  top: 30%;
  right: 15px;
}

.buttons button#about-prev {
  position: absolute;
  top: 30%;
  left: 15px;
}
.about-slide:first-child {
  background: url("/img/group-of-people-gathering-inside-bar-1058277.jpg")
    no-repeat center center/cover;
  filter: brightness(50%) saturate(140%);
}

.about-slide:nth-child(2) {
  background: url("/img/restaurant-dark-bar-architecture-34650.jpg") no-repeat
    center center/cover;
  filter: brightness(50%) saturate(140%);
}

.about-slide:nth-child(3) {
  background: url("/img/table-in-vintage-restaurant-6267.jpg") no-repeat center
    center/cover;
  filter: brightness(50%) saturate(140%);
}

.about-slide:nth-child(4) {
  background: url("/img/man-service-coffee-3055123.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  filter: brightness(50%) saturate(140%);
}

.about-slide:nth-child(5) {
  background: url("/img/beer-cheese-food-ham-56007.jpg") no-repeat center
    center/cover;
  filter: brightness(60%) saturate(140%);
}

.about-slide:nth-child(6) {
  background: url("/img/woman-in-front-of-table-1267315.jpg") no-repeat;
  background-position: 50% 35%;
  background-size: cover;

  filter: brightness(60%) saturate(140%);
}

.about-body {
  display: flex;
  justify-content: center;
  background: url("/img/background-wood.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}

.about-body:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.about-main-wrapper {
  width: 80%;
  height: 110vh;
  display: flex;
  flex-direction: column;
}

.about-main-text {
  background: #1d1d1d;
  height: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.about-main-text p {
  line-height: 30px;
  text-align: center;
  padding: 0 1%;
  text-align: center;
  position: relative;
  color: rgb(226, 226, 226);
  border-right-style: solid;
  border-width: 2px;
}
.about-main-text p:nth-child(3) {
  border-right-style: none;
}

.about-img-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
.about-img-1 {
  background: url("/img/person-preparing-a-beverage-in-a-stem-glass-2842886.jpg")
    no-repeat center center/cover;
  filter: brightness(60%) saturate(140%);
  width: 50%;
  height: 100%;
}
.about-img-2 {
  background: url("/img/man-holding-plate-with-food-in-room-2102934.jpg")
    no-repeat center center/cover;
  filter: brightness(60%) saturate(140%);
  width: 50%;
  height: 100%;
}

/* footer */
.footer {
  display: flex;
  height: 7vh;
  color: rgb(226, 226, 226);
  justify-content: space-around;
  align-content: center;
  background: url("/img/background-wood-2.jpg");
  background-position: center;
  background-size: cover;
}
.footer-left-wrapper {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer-left-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  background: rgb(226, 226, 226);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.footer-left-wrapper a:hover {
  filter: brightness(60%);
  transform: scale(0.9);
}

.footer-right-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.footer-right-wrapper li {
  list-style: none;
  font-size: 22px;
}
.footer-right-wrapper a {
  text-decoration: none;
  color: rgb(226, 226, 226);
}

.footer-right-wrapper button {
  padding: 0.5rem 1rem;
  background: rgb(226, 226, 226);
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400px;
  text-align: center;
}

.footer-right-wrapper button:hover {
  filter: brightness(60%);
  transform: scale(0.9);
}
@media screen and (max-width: 1150px) {
  .nav-links {
    width: 65%;
    margin-left: 100px;
  }
  .logo {
    left: 0;
    width: 46%;
    font-size: 18px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    justify-content: space-between;
    padding-right: 100px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

/* Animation of burger links*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
